# Puerto del servidor web
PORT=3000

# Cadena de conexión a MongoDB Atlas
MONGODB_URI=mongodb+srv://<usuario>:<password>@cluster0.spl1slo.mongodb.net/efim_decanatura?appName=Cluster0

# Clave secreta para generación de tokens JWT
JWT_SECRET=tu_clave_secreta_jwt_para_produccion

# Tiempo de expiración de sesión JWT
JWT_EXPIRES_IN=7d

# Entorno de ejecución (development o production)
NODE_ENV=production
